@media only screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    header nav, header a.menu {
        display: none;
    }

    header .hamburger-menu {
        display: flex;
        flex-direction: column;
        width: 44px;
        height: 44px;
        gap: 7px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-dark);
        border-radius: 50%;
    }

    header a.hamburger-menu svg {
        width: 18px;
    }

    footer {
        grid-template-columns: 1fr;
        padding: 60px;
        height: auto;
    }

    footer #social {
        margin-top: 38px;
    }

    #social ul {
        margin: 40px 0;
    }

    footer #contacts {
        margin-top: 40px;
        margin-bottom: 27px;
    }

    footer #contacts h2 {
        margin-bottom: 37px;
    }
    
    footer #contacts .business-hours {
        margin: 18px 0;
    }
}

@media only screen and (max-width: 380px) {
    body {
        max-width: 380px;
    }

    .page-section {
        margin: 0 16px;
    }

    #social h2 {
        font-size: 32px;
    }

    footer {
        padding: 60px 16px;
    }

    footer #social {
        margin-top: -3px;
    }

    #social h2 em {
        display: unset;
    }

    footer #contacts {
        margin-top: -17px;
        margin-bottom: -14px;
    }
}
